@font-face {
    font-family: 'pt_root_uimedium';
    src: url('PT Root UI_Medium-webfont.eot');
    src: url('PT Root UI_Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('PT Root UI_Medium-webfont.woff2') format('woff2'),
         url('PT Root UI_Medium-webfont.woff') format('woff'),
         url('PT Root UI_Medium-webfont.ttf') format('truetype'),
         url('PT Root UI_Medium-webfont.svg#pt_root_uimedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

