@font-face { /* ------------------- PT ROOT UI BOLD ------------------- */
    font-family: 'pt_root_ui';
    src: url('/css/custom_css/custom_fonts/text_font/PT_Root_UI_Bold_webfont.woff') format('woff'),
    url('/css/custom_css/custom_fonts/text_font/PT_Root_UI_Bold_webfont.ttf') format('truetype'),
    url('/css/custom_css/custom_fonts/text_font/PT_Root_UI_Bold_webfont.eot?#iefix') format('embedded-opentype');
    src: url('/css/custom_css/custom_fonts/text_font/PT_Root_UI_Bold_webfont.eot');
    font-weight: bold;
    font-style: normal;
}

@font-face {/* ------------------- PT ROOT UI LIGHT ------------------- */
    font-family: 'pt_root_ui';
    src: url('/css/custom_css/custom_fonts/text_font/PT_Root_UI_Light_webfont.woff') format('woff'),
    url('/css/custom_css/custom_fonts/text_font/PT_Root_UI_Light_webfont.ttf') format('truetype'),
    url('/css/custom_css/custom_fonts/text_font/PT_Root_UI_Ligh_webfont.eot?#iefix') format('embedded-opentype');
    src: url('/css/custom_css/custom_fonts/text_font/PT_Root_UI_Ligh_webfont.eot');
    font-weight: 200;
    font-style: oblique;

}

@font-face { /* ------------------- PT ROOT UI MEDIUM ------------------- */
    font-family: 'pt_root_ui';
    src: url('/css/custom_css/custom_fonts/text_font/PT_Root_UI_Medium_webfont.woff') format('woff'),
    url('/css/custom_css/custom_fonts/text_font/PT_Root_UI_Medium_webfont.ttf') format('truetype'),
    url('/css/custom_css/custom_fonts/text_font/PT_Root_UI_Medium_webfont.eot?#iefix') format('embedded-opentype');
    src: url('/css/custom_css/custom_fonts/text_font/PT_Root_UI_Medium_webfont.eot');
    font-weight: 300;
    font-style: oblique;

}

@font-face { /* ------------------- PT ROOT UI REGULAR ------------------- */
    font-family: 'pt_root_ui';
    src: url('/css/custom_css/custom_fonts/text_font/PT_Root_UI_Regular_webfont.woff') format('woff'),
    url('/css/custom_css/custom_fonts/text_font/PT_Root_UI_Regular_webfont.ttf') format('truetype'),
    url('/css/custom_css/custom_fonts/text_font/PT_Root_UI_Regular_webfont.eot?#iefix') format('embedded-opentype');
    src: url('/css/custom_css/custom_fonts/text_font/PT_Root_UI_Regular_webfont.eot');
    font-weight: normal;
    font-style: normal;
}

@font-face { /* ------------------- ROUNDS BLACK SIMPLIFIED (FREE) ------------------- */
    font-family: 'rounds_black';
    src: url('/css/custom_css/custom_fonts/title_font/rounds_black_webfont.woff2') format('woff2'),
    url('/css/custom_css/custom_fonts/title_font/rounds_black_webfont.woff') format('woff'),
    url('/css/custom_css/custom_fonts/title_font/rounds_black_webfont.ttf') format('truetype'),
    url('/css/custom_css/custom_fonts/title_font/rounds_black_webfont.eot?#eifix') format('embedded-opentype');
    src: url('/css/custom_css/custom_fonts/title_font/rounds_black_webfont.eot');
    font-weight: normal;
    font-style: normal;
}

body{
    width: 100%;
    position: absolute;
    padding: 15px;
    border-radius: 10px;
    box-sizing: border-box;

    /*   Colors   */
    background-color: #467010;
}

p, card, button{
    font-family: 'pt_root_ui', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
}

p{
    margin-top: 30px;
    text-align: center;
}

h1, h2, h3 {
    font-family: 'pt_root_ui', Arial, serif;
    font-weight: bold;
    font-style: normal;

    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
}


div{
    padding-left: 10%;
    padding-right: 10%;
}


.text{
    color: #2A4C09;

    margin: 15px;
    padding: 15px;

    border-style: solid;
    background-color: #E0F19C;
    border-color: #2A4C09;
    border-width: medium;
    border-radius: 10px;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 0.25rem 0.25rem 0.5rem 0.125rem rgb(42, 76, 9)
}


.info{
    color: #F7E135;
    font-weight: normal;
}

audio{
    width: 100%;
}

.card{
    text-align: center;
    max-width: 400px;
    min-width: 300px;
    margin: 15px;
}

button {
    max-width: 400px;
    width: 40%;

    border-width: medium;
    border-radius: 10px;
}



