html{
    font-family: 'pt_root_uiregular', sans-serif, monospace;
    font-weight: normal;
    font-style: normal;
}

audio{
    width: 100%;
}

.card{
    text-align: center;
    max-width: 400px;
    min-width: 300px;
}

button{
    width: 40%;
}

