@font-face{
	font-family: 'kg_chasing_pavementsregular' !important;
    src: url('kgchasingpavements-webfont.woff2') format('woff2'),
         url('kgchasingpavements-webfont.woff') format('woff');
	font-weight:normal;
	font-style:normal;
}
::-webkit-input-placeholder { /* Edge */
	color: lightgrey !important;
}
::-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: lightgrey !important;
}
::placeholder {
	color: lightgrey !important;
}
body{
	background-color: gray;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100vh 100vw;
	color: #E8E8E8;
}

.fondo{
	background-image: url("images/fondoclasesWEB.jpg");
	width: 100%;
	height: 120vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.pizarra{
	text-align: center;
	position: absolute;
	top: 50%;
	left: 40%;
	transform: translate(-25%, -100%);
	z-index: 2;
}

.resultado{
	width: 30%;
	top: 5px;
}
.chalk-border {
	border: solid rgba(255,255,255,.8);
	border-image: url("images/chalk-border.png") 20;
}
.chalk-border:before {
	content: '';

}
#respuesta{
	border-style: dotted;
	border-width: 5px;
	border-color: rgba(255,255,255, 0.5);
	border-radius: 25px;
}
.maria{
	position: absolute;
	height: 120vh;
	width: auto;
	top: 10%;
	left: 33%;
	transform: translate(-33%, -5%);
	z-index: 1;
}
.mensaje{
	top: 5px

}
.bigText{
	font-size: 2em;
}

table{
	display: inline-block;
	margin-top: 10px;
	text-align: center;
}
footer{
	background-color: black;
	min-height: 20vh;
}
