@font-face {
    font-family: 'pt_root_uilight';
    src: url('PT Root UI_Light-webfont.eot');
    src: url('PT Root UI_Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('PT Root UI_Light-webfont.woff2') format('woff2'),
         url('PT Root UI_Light-webfont.woff') format('woff'),
         url('PT Root UI_Light-webfont.ttf') format('truetype'),
         url('PT Root UI_Light-webfont.svg#pt_root_uilight') format('svg');
    font-weight: normal;
    font-style: normal;

}

