@font-face { /* ------------------- PT ROOT UI BOLD ------------------- */
    font-family: 'pt_root_ui';
    src: url('css/custom-css/custom-fonts/text-font/PT Root UI_Bold-webfont.eot');
    src: url('css/custom-css/custom-fonts/text-font/PT Root UI_Bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('css/custom-css/custom-fonts/text-font/PT Root UI_Bold-webfont.woff') format('woff'),
    url('css/custom-css/custom-fonts/text-font/PT Root UI_Bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {/* ------------------- PT ROOT UI LIGHT ------------------- */
    font-family: 'pt_root_ui';
    src: url('css/custom-css/custom-fonts/text-font/PT Root UI_Light-webfont.eot');
    src: url('css/custom-css/custom-fonts/text-font/PT Root UI_Light-webfont.eot?#iefix') format('embedded-opentype'),
    url('css/custom-css/custom-fonts/text-font/PT Root UI_Light-webfont.woff') format('woff'),
    url('css/custom-css/custom-fonts/text-font/PT Root UI_Light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: light;

}

@font-face { /* ------------------- PT ROOT UI MEDIUM ------------------- */
    font-family: 'pt_root_ui';
    src: url('css/custom-css/custom-fonts/text-font/PT Root UI_Medium-webfont.eot');
    src: url('css/custom-css/custom-fonts/text-font/PT Root UI_Medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('css/custom-css/custom-fonts/text-font/PT Root UI_Medium-webfont.woff') format('woff'),
    url('css/custom-css/custom-fonts/text-font/PT Root UI_Medium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: medium;

}

@font-face { /* ------------------- PT ROOT UI REGULAR ------------------- */
    font-family: 'pt_root_ui';
    src: url('css/custom-css/custom-fonts/text-font/PT Root UI_Regular-webfont.eot');
    src: url('css/custom-css/custom-fonts/text-font/PT Root UI_Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('css/custom-css/custom-fonts/text-font/PT Root UI_Regular-webfont.woff') format('woff'),
    url('css/custom-css/custom-fonts/text-font/PT Root UI_Regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face { /* ------------------- ROUNDS BLACK SIMPLIFIED (FREE) ------------------- */
    font-family: 'rounds_black';
    src: url('css/custom-css/custom-fonts/title-font/rounds_black-webfont.eot');
    src: url('css/custom-css/custom-fonts/title-font/rounds_black-webfont.eot?#eifix') format('embedded-opentype'),
    url('css/custom-css/custom-fonts/title-font/rounds_black-webfont.woff') format('woff'),
    url('css/custom-css/custom-fonts/title-font/rounds_black-webfont.ttf') format('truetype'),
    url('css/custom-css/custom-fonts/title-font/rounds_black-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

p, card{
    font-family: 'pt_root_ui', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3 {
    font-family: 'rounds_black', Courier, serif;
    font-weight: normal;
    font-style: normal;
}

audio{
    width: 100%;
}

.card{
    text-align: center;
    max-width: 400px;
    min-width: 300px;
}

button{
    width: 40%;
}

